<div class="mastfoot">
  <div class="inner">
    <p class="app-footer"><%= copyright_generator %></p>
    <p class="app-footer-contact"><i class="fa fa-phone"></i><%='(801) 520-2307' %></p>
    <p class="app-footer-contact"><i class="fa fa-envelope"></i><%= 'lfowers@gmail.com' %></p>
  </div>
</div>