<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Blog</h1>
    <p class="lead blog-description">A newbie's guide to the web development universe.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>