<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>

        
      </div>

      <div class="col-md-8">
        <p>From the moment I was introduced to web development, I was immediately in love with it. The attention to detail, organization, and problem solving required are strengths of mine but they were not being fully utilized in the career I was in. I decided to make the switch and it has been the best decision I have ever made. I'm passionate about web development because it allows me to be creative and analytical at the same time, while watching an idea come to life.</p>

        <p>In my free time you can find me rock climbing, camping, running, listening to podcasts, going to concerts, reading, or cooking.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >

            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >

            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <p>Crump Insurance Services - Salt Lake City, UT - 02/2016 - 12/2016</p>
                  <p>Sales Manager:</p>
                  <li>Maintain relationships with financial advisors over the phone and face to face</li>
                  <li>Solicit new business through unique sales concepts and proactive sales calls</li>
                  <li>Work closely with underwriters and case managers to place cases</li>
                  <li>Data mine current book of business for further opportunities</li>
                  <li>Attend carrier meetings to maintain product knowledge</li>
            </div>
            <div class="card card-block">
              <p>Crump Insurance Services - Salt Lake City, UT - 06/2015 - 02/2016</p>
                  <p>Internal Wholesaler:</p>
                  <li>Assist Sales Manager with daily processes</li>
                  <li>Run life insurance illustrations for large cases</li>
                  <li>Create Excel presentations of product comparisons</li>
                  <li>Make proactive sales calls to financial advisors</li>
            </div>
            <div class="card card-block">
              <p>Crump Insurance Services - Salt Lake City, UT - 10/2013 - 06/2015</p>
                  <p>Sales Support:</p>
                  <li>Answer inbound calls from financial and life insurance advisors</li>
                  <li>Discuss case designs and take life insurance illustration requests</li>
                  <li>Run life insurance illustrations</li>
                  <li>Build strong working relationships with advisors</li>
            </div>
            <div class="card card-block">
              <p>Flagship Financial - Lindon, UT - 06/2012 - 07/2013</p>
                  <p>VA Loan Processor:</p>
                  <li>Order payoff statements, title packages, and credit reports</li>
                  <li>Check documents for bankruptcies, liens, late payments, and second mortgages </li>
                  <li>Communicate with borrowers and underwriters to resolve conditions</li>
                  <li>Schedule closings with borrowers and title companies</li>
            </div>
            <div class="card card-block">
              <p>Senior Benefits - Orem, UT - 08/2011 - 06/2012</p>
                  <p>Assitant to VP of Operations:</p>
                  <li>Data entry in Agencybloc database</li>
                  <li>Track commissions and resolve missing items with carriers</li>
                  <li>Complete company contracts, file paperwork, and order sales materials</li>
                  <li>Client follow-up after Medicare enrollment</li>
            </div>
            <div class="card card-block">
              <p>Signature Alert - Sandy, UT - 08/2008 - 02/2011</p>
                  <p>Customer Service Manager:</p>
                  <li>Inteview, hire, train, and oversee customer service team</li>
                  <li>Troubleshoot GE and Honeywell alarm systems and set up monitoring</li>
                  <li>Schedule service calls/installations and process invoices from technicians</li>
                  <li>Review compliance calls, prepare bank deposit, compose letters for the owner</li>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Bottega Tech - Lehi, UT - 01/2017 - 03/2017
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
